{% extends 'base.html' %}
{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

        {%for item in news%}
            <div class="card mb-3">
                <div class="card-header">

                    категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}" alt="" width="350" class="mr-3">
                        {% else %}
                            <img src="https://stihi.ru/pics/2015/11/16/2271.jpg" alt="" width="350" class="mr-3">
                        {% endif %}

                        <div class="media-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.content | linebreaksbr | truncatewords:50}}</p>
                            <a href="#" class="btn btn-primary">read more...</a>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-muted">
                    {{ item.create_at| date:"Y/m/d H:m"}}
                </div>
            </div>
        {% endfor %}

{% endblock %}


